<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="/bower_components/amazeui/dist/css/amazeui.min.css">
</head>

<body>
  <div class="am-container">
  <div>
    <a href="/" class="am-btn am-btn-primary">返回</a>
  </div>
  <article class="am-article am-animation-slide-bottom">
    <div class="am-article-hd">
      <h1 class="am-article-title">{{page.title}}</h1>
    </div>

    <div class="am-article-bd">
        {{content}}
    </div>
  </article>
</div>

</body>

</html>
